ion-view(title='Dashboard')
  ion-content.has-header.padding
    .list
      label.item.item-input.item-select
        .input-label
          | Período
        select(ng-model='config.searchTime', required='', ng-options='f.interval as f.label for f in searchTime')